<div class="people-card mt-2">
    @for(item of listadoPersonas; track item.name){

    <div class="card">
        <div class="card-header">
            <h5>{{ item.name }}</h5>
        </div>
    </div>

    <div class="row g-0">

        <div class="col-md-4">
            <img [src]="createImg(item.url)">
        </div>

        <div class="col-md-8">
            <div class="card-body">
                <p><strong>Manufacturer:</strong> {{ item.height}}</p>
                <p><strong>Vehicle Class:</strong> {{ item.mass}}</p>
                <p><strong>Cargo Capacity:</strong> {{ item.hair_color}}</p>
                <p><strong>Consumables:</strong> {{ item.skin_color }}</p>
                <p><strong>Cost in Credits:</strong> {{ item.eye_color }}</p>
                <p><strong>Crew:</strong> {{ item.birth_year }}</p>
                <p><strong>Length:</strong> {{ item.gender }}</p>
                <p><strong>Max Atmosphering Speed:</strong> {{ item.species }}</p>
                <p><strong>Passengers:</strong> {{ item.homeworld }}</p>
                <p><strong>Created:</strong> {{ item.created }}</p>
                <p><strong>Edited:</strong> {{ item.edited }}</p>
            </div>
        </div>

    </div>

    }
</div>